@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    margin: 0 auto;
    max-width: 1920px;
}
.app__main {
    .about__page {
        display: flex;
        justify-content: center;
        color: black;
        font-size: 25px;
        text-align: center;
    }
}
